

temp
FIGURES/
maps/

chimerax_figures/alphas
chimerax_figures/betas
chimerax_figures/vals
chimerax_figures/convergence
chimerax_figures/Qscore
chimerax_figures/models
chimerax_figures/mervs
chimerax_figures/SARS-CoV-2
chimerax_figures/*convergence.pdb
chimerax_figures/*Qscore.pdb

ribodraw_figures/*.stems.txt
ribodraw_figures/*.mat
ribodraw_figures/*.png
ribodraw_figures/*.svg

models/*.pdb
analysis/fsc
analysis/map_to_model


*cif
*mrc
*svg
*jpg
*png
*.fig
*.pdf
*tzt

*__Q__*.txt
*__Q__*.pdb
*DO_AI_per_threshold.csv
*threshold*_AI_per_residue.csv
*Q.out
*AI.out
*phenixCC.out
*_mapqScript.py
*_mapqScript.pyc
.ipynb_checkpoints
*_5ph.pdb
*.m~
graph_figures/erraser_figures
models/auto-drrafter_only/HCoV-NL63/

